# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd


# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Editor settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store
